
.header img {
	height: 3rem;
	width: 3rem;
}
.profile-image {
	border: solid 2px purple;
	border-radius: 100%;
}
.search-bar{position: relative;}
.search-bar > input {border-radius: 1rem;}
.search-bar > img {
	position: absolute;
    transform: scaleX(-1);
    height: 1.5rem;
    width: 1.5rem;
    right: 1rem;
}

.hidden {
	display: none;
	visibility: hidden;
}

