.modal {
	position: fixed;
	overflow: scroll;
	background-color:rgba(0,0,0,0.5);
	height: 100%;
	width:100%;
	z-index: 5;
	
}
.modal-body {
		position: relative;
		background-color: #fcf9edff;
		padding: 1em 1em;
		border-radius: 25px;
		max-width: 20em;
		box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.modal-close {
	position: absolute;
	top:10px;
	right:10px;
}

.modal-close > svg {
	color: #ff575c;
}



#theFile {
	display: none;
}

#tips-and-tags > div > label {
	padding-left: 0;
}
#tips-and-tags > div > input[type="text"]{
	width: 100%;
}

#uploadStatus {
	text-align: center;
}
