<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0">
  <title>Instayiff</title>
  
  {{ style('fonts') }}
  {{ style('dist/main') }}

</head>
<body class="splash-page">
	<header>
		<!--Site Header here-->

	</header>