<footer class="font1 flx(wrap) space-evenly middle is-full">
      
        <ul class="flx(wrap) space-evenly middle is-half">
          <li><a href="/about">About</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="/privacy">Privacy</a></li>
        </ul>

      <div class="flx(wrap) center middle is-half"><span>&copy; Meleeman 2020<span></div>
    
</footer>  