/*a basic flex-box library*/

.flx{
	display: flex;
	flex-wrap:nowrap;
}
.wrap{
	flex-wrap: wrap;
}

/*vertical alignment*/

.f-top{
	align-items: flex-start;
}
.f-bottom{
	align-items: flex-end;
}
.f-baseline{
	align-items:baseline;
}
.f-middle{
	align-items:center;
}
.f-stretch{
	align-items:stretch;
}	

/*horizontal alignment*/

.f-left{
	justify-content: flex-start;
}
.f-right{
	justify-content: flex-end;
}
.f-center{
	justify-content:center;
}
.f-space-evenly{
	justify-content:space-evenly;
}
.f-space-around{
	justify-content: space-around;
}
.f-space-between{
	justify-content: space-between;
}

.f-flow-column {
	flex-direction:column;
}
.f-flow-reverse {
	flex-direction:row-reverse;
}