/*colors for applicaton*/
$majorelle-blue: #6853dfff;
$yellow-orange: #fa900fff;
$floral-white: #fcf9edff;
$eerie-black: #242423ff;

@import '_flex';
@import '_links';


/*fonts for applicaton*/
.font1{
	font-family: "justanotherhand";
	color: $eerie-black;
}
.font2{
	font-family: "quitemagical";
}
.font3{
	font-family: "cookiemonster";
}
.font4{
	font-family: "hashbrowns";
}
.font5{
	font-family: "jollygood";
}
.font6{
	font-family: "full_neue";
}

.is-title {
	color: $eerie-black;
	//text-shadow: -1px -1px 0 $floral-white, 1px -1px 0 $floral-white, -1px 1px 0 $floral-white, 1px 1px 0 $floral-white;
}


html {
  background-color: $floral-white;
  font-family: "jollygood",'sans'
}
body {
background-image: url(/background1.jpg);

background-size: cover;
background-repeat: no-repeat;
}

ul{
	padding: 0;
}
ul li {
  display: inline;
  padding: 1em;
}

h1 {
  font-family: "justanotherhand";
  font-size: 5em;
}
h2 {
  font-family: "quitemagical";
  font-size: 3em
}


footer {
  background-color: #6853dfff;
  padding: 2em;
  font-size: 2em;
}

.login{
  padding: 8em 0;
}

.yiff-button {
	background-color: $yellow-orange;
	margin-bottom: .5em;
	color: white;
}
.yiff-button2 {
	background-color: $majorelle-blue;
	margin-bottom: .5em;
	color: white;
}

.card {
	background-color: $floral-white;
	padding: 3em 2em;
	border-radius: 25px;
	max-width: 22em;
	width: 20em;
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
.container1 {
	max-width: 22em;
	width: 20em;
}


.show-border{
	border: dashed pink 2px;
}

