<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1.0">
	<title>About Instayiff</title>
	{{ style('fonts') }}
  	{{ style('dist/main') }}
</head>
<body>
	<h2>Privacy Statement</h2>
	<div class="card is-half">
		<p>I do my best to protect your privacy by keeping the site maintained and up to date as best as I can,
			using industry standard practices to keep your data safe. 
		</p>
	</div>
	@include('layouts.staticfooter')
</body>
</html>